
<h2>Tələbə Siyahısı</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Yaş</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>1</td>
                <td>Adham</td>
                <td>Poladzade</td>
                <td>20</td>
            </tr>
    </tbody>
</table>
